<?xml version="1.0" encoding="UTF-8" ?>
    <rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
        <channel>
            <title>mefiblog bejegyzések</title>
            <description>A mefiblog legújabb bejegyzései, vágatlanul, reklám nélkül.</description>
            <link>http://mefi.be/</link>
            {% block items %}{% endblock %}
        </channel>
    </rss>