{% block user_block %}
    <li role="presentation" class="dropdown-header">Profil</li>
    <li role="presentation">
        <a role="menuitem" tabindex="-1" href="{{ path('fos_user_security_logout') }}">Kijelentkezés</a>
    </li>
{% endblock %}
